<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-left">性&nbsp;&nbsp;别</dt>
                <dd>女</dd>

                <dt class="text-left">出生日期</dt>
                <dd>1995 / 07 / 19</dd>

                <dt class="text-left">手&nbsp;&nbsp;机</dt>
                <dd>17629288455</dd>

                <dt class="text-left">邮&nbsp;&nbsp;箱</dt>
                <dd><a href="mailto:m17629288455@163.com">m17629288455@163.com</a></dd>

                <dt class="text-left">英&nbsp;&nbsp;语</dt>
                <dd>CET-6</dd>
                
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->