<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/npu.jpeg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>西北工业大学</strong>
                        <span>2018 - 至今 </span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <span> 研二 ｜ 软件工程 ｜ 预计2021年5月毕业</span>
                    </blockquote>
                </div>

            </div><!-- .ref-box -->
            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/szu.jpeg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>深圳大学</strong>
                        <span>2013 - 2017</span>
                    </div>
                    <blockquote class="ref-cont clear-mrg">
                        <span> 学士 ｜ 计算机科学与技术</span>
                    </blockquote>
                </div>

            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->